iframe {
    position:absolute;
    top:-2%;
    left:-4.5%;
    height: 10vh;
}
body{
    position: relative;
    font-family:'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    display:flex;
    justify-content: center;
    background-color: rgb(243, 248, 250);
    margin-right: 0;
    text-align: center;
    color: rgb(77, 77, 77);
}


.top{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.left{
    align-content: end;
    margin-bottom: 10vw;
    text-align: center;
    margin-right: 0;
}
.right{
    margin-top: 30%;
    margin-left: 0;
}
#comment{
    font-size: 150%;
    margin: 0;
    margin-bottom: 3vh;
    margin-left: 10%;
    margin-right: 10%;
}
#name{
    font-size: 5vw;
    font-weight: 900;
    margin: 0;
    margin-right: 5vw;
}
#self_photo{
    margin-top: -30vh;
    width: auto;
    height: 100vh;
}
.links{
    border: solid, 1px;
    border-right: 0;
    border-left: 0;
    background-color: white;
    margin: 0;
}


body div div button {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    color: #6dbbe2;
    border: 2px solid #6dbbe2;
    background: rgb(252, 252, 252);
    padding: 0.5em 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    margin: 2%;
    font-size: 140%;
}
  
body div div button:hover {
    color: rgb(245, 245, 245);
    background: #6dbbe2;
}
.progress-container {
    width: 70%;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
}

.lang{
    font-size: 140%;
}
.container{
    width: 15vw;
    border: 2px solid #e2f1f8;
    margin: 10px;
    background-color: white;
    border-radius: 10px;

}
#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* margin-top: 5vh;
    margin-bottom: 5vh; */
}











@media screen and (max-width:750px) {
    iframe {
        justify-content: center;
        left: -20%;
        top: -1%;
    }
    body{
        font-family:'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
        display:flex;
        justify-content: center;
        background-color: rgb(206, 235, 235);
        margin-right: 0;
        text-align: center;
    }
    #comment{
        font-size: 100%;
        margin: 0;
        margin-bottom: 3vh;
        margin-left: 10%;
        margin-right: 10%;
    }
    #self_photo{
        margin-top: 0vh;
        width: auto;
        height: 50vh;
    }
    .left{
        align-content: center;
        margin-bottom: 10vw;
        text-align: center;
        margin-right: 0;
        margin-top: 0;
    }
    .links{
        border: solid, 1px;
        border-right: 0;
        border-left: 0;
        background-color: white;
        margin: 0;
    }
    .progress-bar {
        font-size: 3vw;
    }
    .container{
        width: 40vw;
    }
}